/* CSS Body ***************************/

body {
  background-color: #eee;
}

/* CSS Columns ************************/

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.one_fourth {
  background-color: #ccc;
  width: 24%;
  display: inline-table;
  padding: 10px;
  box-sizing: border-box; 
}


.three_fourth {
  width: 72%;
  display: inline-table;
}

img .logo {
  fill: #117645;
}

span {
  font-size: 2em;
}

.header svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  right:40px;
  display: inline-table;
}


svg {
  width: 35px;
  height: 35px;
  fill: #333;
}

svg:hover {
  fill: red;
}


/* CSS Header *************************/

.header {
  background-color: #333;
  min-height: 50px;
  width: 100%;
  display: inline-block;
}

.header div {
  padding: 0 20px;
}

.header .logo, .header .form {
  display: inline-block;
  position: relative;
}

.header .logo {
  float: left;
  padding-top: 7px;
  height: 43px;
}

.header .form {
  float: right;
}

.header .logo a{
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}

.header .form div {
  display: inline;
  padding: 0;
  margin-left: 5px;
}

.header .form a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.header .form form {
  padding: 12px 0;
}

.header .form .field input {
  width: 100px;
  margin-left: 5px;
  background: url(/images/icons/envelop.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 3px 6px;
  background-color: #999;
}

.header .form .button input {
  margin-left: 5px;
}

/* CSS Form ***************************/

.form  {
  font-size: 0.9em;
}

.form .field input { 
  height: 25px;
  width: 250px;
  text-align: center;
  background-color: #ddd;
  border: solid 1px #bbb;
  color: #222;
}

.form .button input {
  font-weight: bold;
  color: #0A4D3E;
  background-color: #A7D1C8;
  border: solid 1px #bbb;
  height: 28px;
}


/* CSS Signup ************************/

.signup {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.signup h2 {
  text-align: center;
}

.signup .field input {
  margin-bottom: 5px;
  width: 100%;
}

.signup .button input {
  height: 40px;
  width: 100%;

}

/*CSS Unsorted*/


.content {
  margin: 0 20px;
}

.status-bar {
  padding-bottom: 2px;
  background-color: #f5c2e6;

}

.resume {
  border: 1px solid tomato;

}

.stats {
  border: 1px solid yellow;

}

.decks {
  border: 1px solid teal;
}

#deck1, #deck2 {
  border-radius: 20px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: auto;
}

.footer { 
  text-align: bottom;
}

.partial_container {
  border: 1px dotted black;
  height: 500px;
}





