/* CSS Body ***************************/

body {
  background-color: #eee;
}

svg {
  width: 50px;
  height: 50px;
}

/* CSS Columns ************************/

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.one_fourth {
  background-color: #ccc;
  width: 24%;
  display: inline-table;
  padding: 10px;
  box-sizing: border-box; 
}


.three_fourth {
  width: 72%;
  display: inline-table;
}

img .logo {
  fill: #117645;
}

span {
  font-size: 2em;
}

.content {
  margin: 0 20px;
}


/* CSS Header *************************/

.header {
  background-color: #2A4A60;
  min-height: 50px;
  width: 100%;
  display: inline-block;
}

.header div {
  padding: 0 20px;
}

.header .logo, .header .form {
  display: inline-block;
  position: relative;
}

.header .logo {
  float: left;
  padding-top: 7px;
  height: 43px;
}

.header .form {
  float: right;
}

.header .logo a{
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}

.header .form div {
  display: inline;
  padding: 0;
  margin-left: 5px;
}

.header .form a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.header .form form {
  padding: 12px 0;
}

.header .form .field input {
  width: 100px;
  margin-left: 5px;
  background-color: #C2DDF0;
}

.header .form .button input {
  margin-left: 5px;
}

.header .form .icon {
  padding: 0;
  margin: 0;
  height: 100%;
  padding-top: 20px;
}
.header .form .icon svg {
    fill: #C2DDF0;
    margin-right: -8px;
    margin-left: 10px;
    margin-bottom: -5px;
    height: 20px;
    width: 20px;
  }

.header .form .button .icon svg {
  fill: #C2DDF0;
} 

.header .form .button .icon svg:hover {
  transition-property: fill;
  transition-duration: 3s;
  fill: #fff;

} 

/* CSS Form ***************************/

.form  {
  font-size: 0.9em;
}

.form .field input { 
  height: 25px;
  width: 250px;
  text-align: center;
  background-color: #ddd;
  border: solid 1px #145E93;
  color: #2A4A60;
}

.form .button input {
  font-weight: bold;
  color: #fff;
  /*background-color: #A7D1C8;*/
  /*border: solid 1px #bbb;*/
  background: none;
  border: none;
  height: 28px;
}


/* CSS Signup ************************/

.signup {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.signup h2 {
  text-align: center;
}

.signup .field input {
  margin-bottom: 5px;
  width: 100%;
}

.signup .button input {
  height: 40px;
  width: 100%;

}



/* CSS Deck **************************/


.content .deck {
  width: 350px;
  height: 150px;
  display: inline-table;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.22, rgb(194,221,240)), to(rgb(140,172,194)));
  background-image: -webkit-linear-gradient(bottom, rgb(194,221,240) 22%, rgb(140,172,194) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(194,221,240) 22%, rgb(140,172,194) 100%);
  background-image: -o-linear-gradient(bottom, rgb(194,221,240) 22%, rgb(140,172,194) 100%);
  background-image: linear-gradient(bottom, rgb(194,221,240) 22%, rgb(140,172,194) 100%);
  box-shadow: 0px 0px 20px #aaa;
  margin-right: 20px;
  border-radius: 10px;
/*  border: 3px solid #2A475C;*/
  transition: box-shadow 0.2s ease-out;
  position: relative;
}

.content .deck:hover {
  box-shadow: 0px 0px 10px #2A475C;
}

.content .deck img {
  width: 150px;
  height: 150px;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content .deck .title {
  font-family: "Helvetica Neue";  
  /*font-weight: lighter;*/
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  font-size: 1.2em;
  margin-top: 10px;
  color: #2A475C;
}

.content .deck .card_count {
  float: left;
  bottom: 0;
  margin: 0 0 0px 5px;
  position: absolute;
  display: block;

}

.content .deck .card_count span {
  font-family: "Helvetica Neue";  
  font-weight: lighter;
  font-size: 1.5em;
  color: #2A475C;
  margin-left: 2px;
}

.content .deck .card_count svg {
  fill: #2A475C;
  width: 22px;
  height: 22px;
  margin-bottom: -2px;
}




/*CSS Unsorted*/

/*.status-bar {
  padding-bottom: 2px;
  background-color: #f5c2e6;

}*/

/*.resume {
  border: 1px solid tomato;

}

.stats {
  border: 1px solid yellow;

}

.decks {
  border: 1px solid teal;
}
*/
/*#deck1, #deck2 {
  border-radius: 20px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: auto;
}*/

.footer { 
  text-align: bottom;
}

.partial_container {
  border: 1px dotted black;
  height: 500px;
}





