/* CSS Body ***************************/

html {
  min-height: 100%;
  background-image: linear-gradient(right top, rgb(255,255,255) 100%, rgb(124,197,239) 0%);
  background-image: -o-linear-gradient(right top, rgb(255,255,255) 100%, rgb(124,197,239) 0%);
  background-image: -moz-linear-gradient(right top, rgb(255,255,255) 100%, rgb(124,197,239) 0%);
  background-image: -webkit-linear-gradient(right top, rgb(255,255,255) 100%, rgb(124,197,239) 0%);
  background-image: -ms-linear-gradient(right top, rgb(255,255,255) 100%, rgb(124,197,239) 0%);
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    color-stop(1, rgb(255,255,255)),
    color-stop(0, rgb(124,197,239))
  );
}



body {
  /*height: 100%;*/
/*  background-image: url('/images/wave.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;*/
}




/*
body {
  height: 100%;
  
  background:
  background-image: url('/images/rubber_duck.svg') 30% no-repeat,
  background-image: url('/images/wave.svg') 100% no-repeat;
  
/*
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;*/
}
*/


body .wave, body .duck  {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

body .wave img {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -10;
}

body .duck img {
  /*display: block;*/
  position: fixed;
  width: 35%;
  margin: 0 0 3% 0;
  bottom: 0;
  right: 0;
  z-index: -9;
}


/*
body {
  background-image: url('/images/rubber_duck.svg');
  background-size: 30%;
  background-position: bottom right;
  background-attachment: fixed;
  background-origin: ;
  background-color: #C0F2DB;
}
*/



svg {
  width: 50px;
  height: 50px;
}

/* CSS Columns ************************/

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.one_fourth {
  background-color: #ccc;
  width: 24%;
  display: inline-table;
  padding: 10px;
  box-sizing: border-box; 
}


.three_fourth {
  width: 72%;
  display: inline-table;
}

img .logo {
  fill: #117645;
}

span {
  font-size: 2em;
}

.content {
  margin: 0 20px;
}


/* CSS Header *************************/

.header {
  background-color: #2A4A60;
  min-height: 50px;
  width: 100%;
  display: inline-block;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.header div {
  padding: 0 20px;
}

.header .logo, .header .form {
  display: inline-block;
  position: relative;
}

.header .logo {
  float: left;
  padding-top: 7px;
  height: 43px;
}

.header .form {
  float: right;
}

.header .logo a{
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}

.header .form div {
  display: inline;
  padding: 0;
  margin-left: 5px;
}

.header .form a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.header .form form {
  padding: 12px 0;
}

.header .form .field input {
  width: 100px;
  margin-left: 5px;
  background-color: #C2DDF0;
}

.header .form .button input {
  margin-left: 5px;
}

.header .form .icon {
  padding: 0;
  margin: 0;
  height: 100%;
  padding-top: 20px;
}
.header .form .icon svg {
    /*fill: #C2DDF0;*/
    fill: rgba(255,255,255,0.5);
    margin-right: -8px;
    margin-left: 10px;
    margin-bottom: -5px;
    height: 20px;
    width: 20px;
  }

.header .form .button .icon svg {
  fill: #C2DDF0;
} 

.header .form .button .icon svg:hover {
  transition-property: fill;
  transition-duration: 3s;
  fill: #fff;

} 

/* CSS Form ***************************/

.form  {
  font-size: 0.9em;
}

.form .field input { 
  height: 25px;
  width: 250px;
  text-align: center;
  background-color: #ddd;
  border: solid 1px #145E93;
  color: #2A4A60;
}

.form .button input {
  font-weight: bold;
  color: #fff;
  /*background-color: #A7D1C8;*/
  /*border: solid 1px #bbb;*/
  background: gray;
  border: solid 1px black;
  height: 28px;
}


/* CSS Signup ************************/

.signup {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.signup h2 {
  text-align: center;
}

.signup .field input {
  margin-bottom: 5px;
  width: 100%;
}

.signup .button input {
  height: 40px;
  width: 102%;

}



/* CSS Deck **************************/


.content .deck {
  width: 350px;
  height: 150px;
  display: inline-table;
  float: left;
/*  background-image: linear-gradient(bottom, rgb(2,42,70) 2%, rgb(42,71,92) 100%);
  background-image: -o-linear-gradient(bottom, rgb(2,42,70) 2%, rgb(42,71,92) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(2,42,70) 2%, rgb(42,71,92) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(2,42,70) 2%, rgb(42,71,92) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(2,42,70) 2%, rgb(42,71,92) 100%);*/

  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(16,105,66,0.8)), to(rgba(13,68,52,0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(16,105,66,0.8) 0%, rgba(13,68,52,0.8) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(16,105,66,0.8) 0%, rgba(13,68,52,0.8) 100%);
  background-image: -o-linear-gradient(bottom, rgba(16,105,66,0.8) 0%, rgba(13,68,52,0.8) 100%);
  background-image: linear-gradient(bottom, rgba(16,105,66,0.8) 0%, rgba(13,68,52,0.8) 100%);


  box-shadow: 0px 0px 20px #aaa;
  margin: 0 20px 20px 0;
  border-radius: 10px;
/*  border: 3px solid #2A475C;*/
  transition: box-shadow 0.2s ease-out;
  position: relative;

}
.content .deck a {
  text-decoration: none; 
}

.content .deck:hover {
  box-shadow: 0px 0px 10px #2A475C;
}

.content .deck img {
  width: 150px;
  height: 150px;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content .deck .title {
  font-family: "Helvetica Neue";  
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  font-size: 1.2em;
  margin-top: 10px;
  color: #FFF;
}

.content .deck .card_count {
  float: left;
  bottom: 0;
  margin: 0 0 2px 7px;
  position: absolute;
  display: block;

}

.content .deck .card_count span {
  font-family: "Helvetica Neue";  
  font-weight: 100;
  font-size: 1.4em;
  color: #FFF;
  margin-left: 2px;
}

.content .deck .card_count svg {
  fill: #FFF;
  width: 22px;
  height: 22px;
  margin-bottom: -3px;
}
/*
#FCC200;
*/

/*CSS Unsorted*/

/*.status-bar {
  padding-bottom: 2px;
  background-color: #f5c2e6;

}*/

/*.resume {
  border: 1px solid tomato;

}

.stats {
  border: 1px solid yellow;

}

.decks {
  border: 1px solid teal;
}
*/
/*#deck1, #deck2 {
  border-radius: 20px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: auto;
}*/

.footer { 
  text-align: bottom;
}

.partial_container {
  border: 1px dotted black;
  height: 500px;
}





