<div class="header">
    <p>Let's Play!</p>
  </div>

  <div class="resume">
  <!-- resume button / css attirbute active or hidden -->
    <p>Resume</p>
    <!-- conditional button with hyperlink to game in progress  -->
  </div>

  <div class="stats">
    <p>Deck stats</p>
    <!-- erb _deck_stats -->
  </div>

  <div class="decks">
    <p>Choose Your Deck!</p>
    <a href="/deck1"><img id="deck1" src="css/world_caps.jpg"></a>
    <a href="/deck2"><img id="deck2" src="css/americana.jpg"></a>
    <!-- Capital cities of the world 
    US Quiz  -->
  </div>
