<div class="game_complete">
  <h2>HONK! Deck Complete!</h2>
  <div>
    <p>Correct answers: <%= %> / <%= %></p>
    <p class="perc">xx%</p>
  </div>
  <div class="submit_container">
    <form action="/" method="get">
      <input class="submit" type="submit" value="Back to Home">
    </form>
  </div>
  <div class="submit_container">
    <form action="/deck/<%= @last_deck_id %>">
      <input class="submit" type="submit" value="Replay this game">
    </form>
  </div>
</div>