<div class="game_complete">
  <h2>HONK! Deck Complete!</h2>
  <div>
    <p>Correct answers: <%= last_game_correct_answers %> / <%= last_game_length %></p>
    <p class="perc"><%= last_game_score_percentage %>%</p>
  </div>
  <div class="submit_container">
    <form action="/" method="get">
      <input class="submit" type="submit" value="Back to Home">
    </form>
  </div>
  <div class="submit_container">
    <form action="/deck/<%= @last_deck_id %>">
      <input class="submit" type="submit" value="Replay this game">
    </form>
  </div>
</div>