<div class="container">
  <div class="header">
    <!-- insert partial header erb -->
    <h1>This be the header, yarrrr!</h1>
  </div>

  <div class="resume">
  <!-- resume button / css attirbute active or hidden -->
    <p>Resume</p>
  </div>

  <div class="stats">
    <p>Stats here</p>
  </div>

  <div class="decks">
    <p>Deck selection here</p>
  </div>



</div>
